*{
	box-sizing: border-box;
}
body{
	font-family: 'Oxygen', sans-serif;

}
#sec1, #sec2, #sec3{
	padding: 15px 10px 15px 10px;
	background-color: #E5E7E9;
	border: 1px solid black;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
.navbar-brand {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  line-height: .75;
  font-size: 2.5em;
}
.navbar{
	background-color: #D5DBDB;
}
.navbar-header button{
	border-color: black;
	background-color: #85929E;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #99A3A4;
	color: black;
	border:1px solid black;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;

}
#sec1 h3, #sec2 h3, #sec3 h3{
	margin-top: 0;
	margin-bottom: 0;
	margin-bottom: 5px;
}

.navbar-collapse ul li{
	background-color: #AED6F1;
	width: 100%;
	border: 1px solid #5D6D7E;
}
.navbar-default .navbar-nav>li>a{
	color: black;
}
